html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Niramit';
    background-color: black;
    overflow-x: hidden;
    padding-top:60px;
}
.bg-dark, .dropdown-menu{
    background-color: black !important;
}
.navbar{
    padding-bottom : 0rem;
    padding-top : 0rem;
}
a.nav-brand{
    font-family: 'Caveat Brush', cursive;
    color:#80ff00 !important;
    font-size: 2.5rem;
}
a.nav-brand:hover{
    text-decoration: none;
}
.navbar-toggler{
    margin-right:1rem;
}
.nav-link{
    border-bottom : 4px solid transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav-link:hover{
    color :#cccccc !important;
}
.nav-link.active{
    border-bottom : 4px solid #80ff00;
}
.landing {
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
    background: transparent;
    z-index: -1;
  }
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-inner {
    position: fixed;
    display: table;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
    background-image: url(../img/header-bg.jpg);
  }
.heading{
    text-align: center;
    color : white;
    z-index: 1;
    top : 35%;
    width: 100%;
    position: absolute;
}
.dropdown-item.active{
    border-left : 4px solid #80ff00;
    background-color: black;
    color :#cccccc !important;
}
.dropdown-item{
    color : rgba(255,255,255,.5) !important;
    background-color: black;
}
.dropdown-header{
    color : white !important;
}
.dropdown-divider{
    border-top: 2px solid #80ff00;
}
.dropdown-item:hover{
    background-color: black;
    color :#cccccc !important;
}
.jumbotron{
    background-color: gainsboro;
    color : white;
    text-indent: 2%;
    padding : 5%;
    letter-spacing: 5%;
    line-height: 2rem;
    border-radius: 0rem;
}
.btn{
    margin-top : 3rem;
}
img{
    max-width:100%; 
    height:auto; 
    display: block;
    margin-left: auto; 
    margin-right: auto;
    border-radius: 15px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #80ff00; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #59b300; 
}
hr{
    border-top: 3px solid rgba(0,0,0,.3);
}
.indent{
    text-indent: 2%;
}
.carousel-item:hover .overlay {
    height: 25%;
}
.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.ethnic{
    border-top: 3px solid #80ff00;
}
.middle{
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    height : auto;
    width : auto;
}
.line-r{
    border-right: 3px solid #80ff00;
}
.line-l{
    border-left: 3px solid #80ff00;
}
.jumbotron-dark{
    color : white;
    text-indent: 30px;
    padding : 50px;
    letter-spacing: 5%;
    line-height: 2rem;
    border-radius: 0rem;
    overflow: hidden;
}
.header-green{
    color : #80ff00;
    text-indent: 0rem;
}
.fadein {
    opacity: 0;
    -moz-transition: opacity 1.2s;
    -webkit-transition: opacity 1.2s;
    -o-transition: opacity 1.2s;
    transition: opacity 1.2s;
}
body.loaded{
    opacity: 1;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown:hover .dropdown-menu {
    max-height: 260px;
    opacity: 1;
}
